test/inner.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:complexType name="InnerClass">
        <xs:sequence>
                <xs:element name="field1" type="xs:string"/>
                <xs:element name="field2" type="xs:int"/>
            </xs:sequence>
    </xs:complexType>

    <xs:complexType name="OuterClass">
        <xs:sequence>
            <xs:element name="str" type="xs:string" />
            <xs:element name="inner" type="InnerClass"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="outer" type="OuterClass"/>

</xs:schema>
